
@{
    ViewBag.Title = "Index";
}



<h2>Index</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Descriptiion</th>
        <th>Add to Cart</th>

    </tr>
    @foreach (var b in Model)
    {
        <tr>
            <td>@b.Id</td>
            <td>@b.Name</td>
            <td>@b.Price</td>
            <td>@b.Descriptiion</td>
            <td>
                <form method="post" action="/product/addcart/@b.Id">
                    <input type="hidden" name="id" value="@b.Id" />
                    <input type="number" name="quantity" value="1" min="1" max="100" />
                    <button type="submit" class="btn btn-success">Add to Cart</button>
                </form>
            </td>
        </tr>
    }
</table>
<cener><a href="/product/show" class="btn btn-success">Checkout Cart</a></cener>